[submodule "ssdb_deps_snappy"]
	path = swap-ssdb-1.9.2/deps/snappy
	url = https://github.com/google/snappy.git
[submodule "ssdb_deps_gflags"]
	path = swap-ssdb-1.9.2/deps/gflags
	url = https://github.com/gflags/gflags.git
[submodule "ssdb_deps_zlib"]
	path = swap-ssdb-1.9.2/deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "ssdb_deps_rocksdb"]
	path = swap-ssdb-1.9.2/deps/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "ssdb_deps_jemalloc"]
	path = swap-ssdb-1.9.2/deps/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
