[submodule "ssdb_deps_snappy"]
	path = swap-ssdb-1.9.2/deps/snappy
	url = https://github.com/google/snappy.git
[submodule "ssdb_deps_gflags"]
	path = swap-ssdb-1.9.2/deps/gflags
	url = https://github.com/gflags/gflags.git
